{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block style %}
<style>
*,*::before,*::after{
  color:black;
}
</style>
{% endblock style %}
  <!-- Main Container -->

  {%  if cart_item %}
  <div   id="cartContainer" class="max-w-7xl mx-auto px-4 py-10">

    <!-- Heading -->
    <div class="mb-8">
      <h1 class="text-3xl md:text-4xl font-bold !text-gray-300">
        Shopping Cart
      </h1>
      <p class="!text-gray-400 mt-2">
        {{quantity}} Items in your cart
      </p>
    </div>

    <!-- Cart Layout -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

      <!-- Cart Products -->
      <div id="cartProducts" class="lg:col-span-2 space-y-6">
       {% for item in cart_item %}
        <!-- Product Card -->
        <div class="bg-white rounded-2xl shadow-md p-4 sm:p-6">

          <div class="flex flex-col sm:flex-row gap-5">

            <!-- Product Image -->
            <div class="w-full sm:w-36 h-36">
              <img
                src="{{item.product.image.url}}"
                alt="Product"
                class="w-full h-full object-cover rounded-xl"
              />
            </div>

            <!-- Product Details -->
            <div class="flex-1">

              <div class="flex flex-col md:flex-row md:justify-between gap-4">

                <div>
                  <h2 class="text-xl font-semibold text-gray-800">
                    {{item.product.name}}
                  </h2>

                  <p class="text-gray-500 mt-1">
                      {% if item.variant %}
                          Size: {{ item.variant.size }} | Color: {{ item.variant.color }}
                      {% else %}
                          No Variant
                      {% endif %}
                  </p>

                  <p class="text-2xl font-bold text-indigo-600 mt-3">
                    {% if item.variant %}
                        ₹{{ item.variant.price }}
                    {% else %}
                        ₹{{ item.product.price }}
                    {% endif %}
                  </p>
                </div>

                <!-- Quantity -->
                <div class="flex items-center gap-3">

                 <button
                    type="button"
                    class="decrease-btn w-10 h-10 rounded-lg bg-gray-200 hover:bg-gray-300 text-xl cursor-pointer"
                    data-product-slug="{{ item.product.slug }}"
                    data-variant-id="{{ item.variant.id }}"
                >
                    -
                </button>

                  <span
                      class="item-quantity text-lg font-semibold"
                      data-variant-id="{{ item.variant.id }}"
                  >
                      {{ item.quantity }}
                  </span>

                  <button
                    type="button"
                    class="increase-btn w-10 h-10 rounded-lg bg-indigo-600 hover:bg-indigo-700 text-white text-xl cursor-pointer !text-white"
                    data-product-slug="{{ item.product.slug }}"
                    data-variant-id="{{ item.variant.id }}"
                >
                    +
                </button>

                </div>

              </div>

              <!-- Bottom -->
              <div class="flex justify-between items-center mt-6">

                <button
                    type="submit"
                    class="remove-btn flex gap-1 px-4 py-2
                          text-sm font-semibold text-red-600
                          border border-red-200 rounded-lg
                          bg-red-50
                          hover:bg-red-600 hover:text-white
                          hover:border-red-600
                          transition-all duration-200
                          cursor-pointer"
                          data-product-slug="{{ item.product.slug }}"
                          data-variant-id="{{ item.variant.id }}"

                          >
                    
                    <i class="bx bx-trash text-lg"></i>
                    Remove
                </button>

                <p
                  class="item-subtotal text-lg font-bold text-gray-800"
                  data-variant-id="{{ item.variant.id }}"
              >
                  Total: ₹ {{ item.sub_total }}
              </p>

              </div>

            </div>

          </div>

        </div>
       {% endfor %}
      </div>

      <!-- Order Summary -->
      <div>

        <div class="bg-white rounded-2xl shadow-md p-6 sticky top-5">

          <h2 class="text-2xl font-bold text-gray-800 mb-6">
            Order Summary
          </h2>

          <!-- Summary Row -->
          <div class="space-y-4">

            <div class="flex justify-between text-gray-600">
              <span>Subtotal</span>
              <span id="cartSubtotal">₹{{ sub_total }}</span>
          </div>

          <div class="flex justify-between text-gray-600">
              <span>Tax</span>
              <span id="cartTax">₹{{ tax }}</span>
          </div>

          <hr>

          <div class="flex justify-between text-xl font-bold text-gray-800">
              <span>Total</span>
              <span id="cartGrandTotal">₹{{ grand_total }}</span>
          </div>

          </div>

          <!-- Coupon -->
          <div class="mt-6">

            <!-- <form action="{% url 'apply_coupon' %}" method="POST">

              {% csrf_token %}
              <label class="block text-gray-700 font-medium mb-2">
                Coupon Code
              </label>

            <div class="flex gap-2">

              <input
                type="text"
                placeholder="Enter coupon"
                class="w-full border border-gray-300 rounded-xl px-4 py-3 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                name="coupon_code"
              />

              <button
               type='submit'
                class="bg-indigo-600 hover:bg-indigo-700 text-white px-5 rounded-xl !text-white font-semibold cursor-pointer whitespace-nowrap"
              >
                Coupon Apply
              </button>

            </div>
            </form> -->

          </div>

          <!-- Checkout Button -->
          <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <button
            type="submit"
              class="w-full mt-8 bg-indigo-600 hover:bg-indigo-700 !text-white py-4 rounded-xl text-lg font-semibold transition cursor-pointer"
            >
              Proceed to Checkout
            </button>
          </form>
          <!-- Continue Shopping -->
          <button
            class="w-full mt-4 border border-gray-300 hover:bg-gray-100 py-4 rounded-xl text-lg font-semibold cursor-pointer"
          >
            Continue Shopping
          </button>

        </div>

      </div>

    </div>

  </div>
{% endif %}
<div
    id="emptyCartContainer"
    class="{% if cart_item %}hidden{% else %}flex{% endif %} justify-center items-center w-[50%] h-full mx-auto"
>
    <img
        class="w-full h-full"
        src="{% static 'empty_cart/emptycart.png' %}"
        alt="emptycart"
    >
</div>

{% endblock content %}


{% block script %}
<script>

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// Usage example (commonly named 'csrftoken' or 'XSRF-TOKEN')
const csrftoken = getCookie('csrftoken');

const increaseButtons = document.querySelectorAll(".increase-btn");
const decreaseButtons = document.querySelectorAll(".decrease-btn");

increaseButtons.forEach((button) => {

    button.addEventListener("click", () => {

        const productSlug = button.dataset.productSlug;
        const variantId = button.dataset.variantId;
        const color = button.dataset.color;

        console.log("Product:", productSlug);
        console.log("Variant ID:", variantId);
        console.log("Color:", color);

        axios.post(
          `/cart/increase/${productSlug}/`,
        {
            variant_id: variantId
        },
        {
            headers: {
                "X-CSRFToken": csrftoken,
                "Content-Type": "application/json"
            }
        }
    )
    .then((response) => {
        console.log("Increase Response:", response.data);

    if (response.data.success) {

        const quantityElement = document.querySelector(
            `.item-quantity[data-variant-id="${variantId}"]`
        );

        if (quantityElement) {
            quantityElement.textContent = response.data.quantity;
        }
       const subtotalElement = document.querySelector(
            `.item-subtotal[data-variant-id="${variantId}"]`
        );
         if (subtotalElement) {
            subtotalElement.textContent =
                `Total: ₹ ${response.data.subtotal}`;
        }

        const cartSubtotal = document.getElementById("cartSubtotal");
        const cartTax = document.getElementById("cartTax");
        const cartGrandTotal = document.getElementById("cartGrandTotal");

        if (cartSubtotal) {
            cartSubtotal.textContent =
                `₹ ${response.data.cart_subtotal}`;
        }

        if (cartTax) {
            cartTax.textContent =
                `₹ ${response.data.tax}`;
        }

        if (cartGrandTotal) {
            cartGrandTotal.textContent =
                `₹ ${response.data.grand_total}`;
        }
    }
    })
    .catch((error) => {
        console.error("Increase Error:", error);
    });

    });

});

decreaseButtons.forEach((button) => {

    button.addEventListener("click", () => {

        const productSlug = button.dataset.productSlug;
        const variantId = button.dataset.variantId;

        axios.post(
            `/cart/decrease/${productSlug}/`,
            {
                variant_id: variantId
            },
            {
                headers: {
                    "X-CSRFToken": csrftoken,
                    "Content-Type": "application/json"
                }
            }
        )
        .then((response) => {

            console.log("Decrease Response:", response.data);

            if (response.data.success) {

                // Item quantity
                const quantityElement = document.querySelector(
                    `.item-quantity[data-variant-id="${variantId}"]`
                );

                // Item card
                const card = button.closest(".bg-white");
                // If quantity becomes 0
                if (response.data.deleted) {

                        if (card) {
                            card.remove();
                        }

                        if (response.data.cart_count === 0) {

                            const cartContainer =
                                document.getElementById("cartContainer");

                            const emptyCartContainer =
                                document.getElementById("emptyCartContainer");

                            if (cartContainer) {
                                cartContainer.remove();
                            }

                            if (emptyCartContainer) {
                                emptyCartContainer.classList.remove("hidden");
                            }
                        }

                        return;
                    }
                // Update quantity
                if (quantityElement) {
                    quantityElement.textContent =
                        response.data.quantity;
                }
                // Update item subtotal
                const subtotalElement = document.querySelector(
                    `.item-subtotal[data-variant-id="${variantId}"]`
                );

                if (subtotalElement) {
                    subtotalElement.textContent =
                        `Total: ₹ ${response.data.subtotal}`;
                }
                // Update cart subtotal
                const cartSubtotal =
                    document.getElementById("cartSubtotal");

                if (cartSubtotal) {
                    cartSubtotal.textContent =
                        `₹ ${response.data.cart_subtotal}`;
                }
                // Update tax
                const cartTax =
                    document.getElementById("cartTax");

                if (cartTax) {
                    cartTax.textContent =
                        `₹ ${response.data.tax}`;
                }
                // Update grand total
                const cartGrandTotal =
                    document.getElementById("cartGrandTotal");

                if (cartGrandTotal) {
                    cartGrandTotal.textContent =
                        `₹ ${response.data.grand_total}`;
                }

            }

        })
        .catch((error) => {

            console.error(
                "Decrease Error:",
                error
            );

        });

    });

});

// remove button codes start here
const removeButtons = document.querySelectorAll(".remove-btn");

removeButtons.forEach((button) => {

    button.addEventListener("click", () => {

        const productSlug = button.dataset.productSlug;
        const variantId = button.dataset.variantId;

        axios.post(
            `/cart/remove_to_cart/${productSlug}/`,
            {
                variant_id: variantId
            },
            {
                headers: {
                    "X-CSRFToken": csrftoken,
                    "Content-Type": "application/json"
                }
            }
        )
        .then((response) => {

            console.log("Remove Response:", response.data);

            if (response.data.success) {

                // Find product card
                const card = button.closest(".bg-white");

                // Remove product card
                if (card) {
                    card.remove();
                }
             if (response.data.cart_count === 0) {

                const cartContainer =
                    document.getElementById("cartContainer");

                const emptyCartContainer =
                    document.getElementById("emptyCartContainer");

                if (cartContainer) {
                    cartContainer.remove();
                }

                if (emptyCartContainer) {
                    emptyCartContainer.classList.remove("hidden");
                }
            }
                // Update cart subtotal
                const cartSubtotal =
                    document.getElementById("cartSubtotal");

                if (cartSubtotal) {
                    cartSubtotal.textContent =
                        `₹ ${response.data.cart_subtotal}`;
                }


                // Update tax
                const cartTax =
                    document.getElementById("cartTax");

                if (cartTax) {
                    cartTax.textContent =
                        `₹ ${response.data.tax}`;
                }


                // Update grand total
                const cartGrandTotal =
                    document.getElementById("cartGrandTotal");

                if (cartGrandTotal) {
                    cartGrandTotal.textContent =
                        `₹ ${response.data.grand_total}`;
                }


                // Update navbar cart count
                const cartCount =
                    document.getElementById("cartCount");

                if (cartCount) {
                    cartCount.textContent =
                        response.data.cart_count;
                }


                // Success message
                Swal.fire({
                    icon: "success",
                    title: "Removed!",
                    text: response.data.message,
                    timer: 1200,
                    showConfirmButton: false
                });

            }

        })
        .catch((error) => {

            console.error(
                "Remove Error:",
                error
            );

        });

    });

});
// remove button codes end here 
  </script>
{% endblock %}