{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block style %}
<style>
*,*::before,*::after{
  color:black;
}
</style>
{% endblock style %}
  <!-- Main Container -->

  {%  if cart_item %}
  <div class="max-w-7xl mx-auto px-4 py-10">

    <!-- Heading -->
    <div class="mb-8">
      <h1 class="text-3xl md:text-4xl font-bold !text-gray-300">
        Shopping Cart
      </h1>
      <p class="!text-gray-400 mt-2">
        {{quantity}} Items in your cart
      </p>
    </div>

    <!-- Cart Layout -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

      <!-- Cart Products -->
      <div class="lg:col-span-2 space-y-6">
       {% for item in cart_item %}
        <!-- Product Card -->
        <div class="bg-white rounded-2xl shadow-md p-4 sm:p-6">

          <div class="flex flex-col sm:flex-row gap-5">

            <!-- Product Image -->
            <div class="w-full sm:w-36 h-36">
              <img
                src="{{item.product.image.url}}"
                alt="Product"
                class="w-full h-full object-cover rounded-xl"
              />
            </div>

            <!-- Product Details -->
            <div class="flex-1">

              <div class="flex flex-col md:flex-row md:justify-between gap-4">

                <div>
                  <h2 class="text-xl font-semibold text-gray-800">
                    {{item.product.name}}
                  </h2>

                  <p class="text-gray-500 mt-1">
                    Size: M | Color: Black
                  </p>

                  <p class="text-2xl font-bold text-indigo-600 mt-3">
                    ₹{{item.product.price}}
                  </p>
                </div>

                <!-- Quantity -->
                <div class="flex items-center gap-3">

                 <form action="{% url 'remove_to_cart' item.product.slug %}" method="POST">
                  {% csrf_token %}
                  <button
                    class="w-10 h-10 rounded-lg bg-gray-200 hover:bg-gray-300 text-xl cursor-pointer"
                     type="submit"
                  >
                    -
                  </button>
                </form>

                  <span class="text-lg font-semibold">{{item.quantity}}</span>

                  <form action="{% url 'add_to_cart' item.product.slug %}" method="POST">
                    {% csrf_token %}
                    <button
                      class="w-10 h-10 rounded-lg bg-indigo-600 hover:bg-indigo-700 text-white text-xl cursor-pointer !text-white"
                      type="submit"
                    >
                      +
                    </button>
                  </form>

                </div>

              </div>

              <!-- Bottom -->
              <div class="flex justify-between items-center mt-6">

                <button
                  class="text-red-500 hover:text-red-700 font-medium"
                >
                  Remove
                </button>

                <p class="text-lg font-bold text-gray-800">
                  Total: ₹ {{ item.sub_total }}
                </p>

              </div>

            </div>

          </div>

        </div>
       {% endfor %}
      </div>

      <!-- Order Summary -->
      <div>

        <div class="bg-white rounded-2xl shadow-md p-6 sticky top-5">

          <h2 class="text-2xl font-bold text-gray-800 mb-6">
            Order Summary
          </h2>

          <!-- Summary Row -->
          <div class="space-y-4">

            <div class="flex justify-between text-gray-600">
              <span>Subtotal</span>
              <span>₹{{sub_total}}</span>
            </div>

            <!-- <div class="flex justify-between text-gray-600">
              <span>Shipping</span>
              <span>₹100</span>
            </div> -->

            <div class="flex justify-between text-gray-600">
              <span>Tax</span>
              <span>₹{{tax_percentage}}</span>
            </div>

            <hr>

            <div class="flex justify-between text-xl font-bold text-gray-800">
              <span>Total</span>
              <span>₹{{grand_total}}</span>
            </div>

          </div>

          <!-- Coupon -->
          <div class="mt-6">

            <label class="block text-gray-700 font-medium mb-2">
              Coupon Code
            </label>

            <div class="flex gap-2">

              <input
                type="text"
                placeholder="Enter coupon"
                class="w-full border border-gray-300 rounded-xl px-4 py-3 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              />

              <button
                class="bg-indigo-600 hover:bg-indigo-700 text-white px-5 rounded-xl !text-white font-semibold cursor-pointer"
              >
                Apply
              </button>

            </div>

          </div>

          <!-- Checkout Button -->
          <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <button
            type="submit"
              class="w-full mt-8 bg-indigo-600 hover:bg-indigo-700 !text-white py-4 rounded-xl text-lg font-semibold transition cursor-pointer"
            >
              Proceed to Checkout
            </button>
          </form>
          <!-- Continue Shopping -->
          <button
            class="w-full mt-4 border border-gray-300 hover:bg-gray-100 py-4 rounded-xl text-lg font-semibold cursor-pointer"
          >
            Continue Shopping
          </button>

        </div>

      </div>

    </div>

  </div>
  {% else %}
  <div class="flex justify-center items-center w-[50%] h-full mx-auto">
    <img class="w-full h-full" src="{% static 'empty_cart/emptycart.png' %}" alt="emptycart">
  </div>
{% endif %}
{% endblock content %}