<!-- My Orders -->
{% load static %}
<section class="w-full bg-white rounded-lg  p-4 md:p-6 myorders">

    <!-- Heading -->
    <div
        class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-6">

        <div>
            <h2 class="text-3xl font-bold text-gray-800">
                My Orders
            </h2>

            <p class="text-gray-500 mt-1">
                Track, view and manage all your orders.
            </p>
        </div>

        <div class="flex flex-col sm:flex-row gap-3">

            <div class="relative">

                <input
                    type="text"
                    placeholder="Search by Order ID..."
                    class="w-full sm:w-72 border rounded-lg pl-4 pr-10 py-2 outline-none focus:ring-2 focus:ring-blue-500">

                <i
                    class='bx bx-search absolute right-3 top-3 text-xl text-gray-400'></i>

            </div>

            <select
               id="orderSelection"
                class="border rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500">

                <option class="active">All Orders</option>
                <option>Pending</option>
                <option>Delivered</option>
                <option>Cancelled</option>

            </select>

        </div>

    </div>


    <!-- Order Card -->
    <div class="card_container">

        
    </div>
    <!-- Pagination -->
    <div
        class="flex justify-between items-center mt-8">

        <p class="text-gray-500">
            Showing 1 to 3 of 3 orders
        </p>

        <div class="flex gap-2">

            <button
                class="w-10 h-10 border rounded hover:bg-gray-100">

                ←

            </button>

            <button
                class="w-10 h-10 bg-blue-600 text-white rounded">

                1

            </button>

            <button
                class="w-10 h-10 border rounded hover:bg-gray-100">

                →

            </button>

        </div>

    </div>

</section>
 