{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<div class="product_detail_page">
  <div class="product_detail_slider">
    <div class="product-image-carousels">
  <!-- Thumbnail track carousel -->
  <div class="thumbnails-slider">
    <button class="thumbnail-button" aria-current="true">
      <!-- Note that the alt attribute values describe the FUNCTION of the button, not the CONTENT of the image inside the button. -->
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/annie-spratt-500x500.jpg" alt="Go to image 1">
    </button>

    <button class="thumbnail-button">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/blanca-paloma-sanchez-500x500.jpg" alt="Go to image 2">
    </button>

    <button class="thumbnail-button"> 
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/erol-ahmed-500x500.jpg" alt="Go to image 3">
    </button>

    <button class="thumbnail-button">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/armando-castillejo-500x500.jpg" alt="Go to image 4">
    </button>

    <button class="thumbnail-button">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/calle-macarone-500x500.jpg" alt="Go to image 5">
    </button>
  </div>


  <!-- Main image carousel -->
  <div class="main-image-slider">
    <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/annie-spratt-500x500.jpg" target="_blank" class="image-link">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/annie-spratt-500x500.jpg" alt="Extreme close up of a plant with flat leaves with rounded sides and pointy tips.">
    </a>
    
    <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/blanca-paloma-sanchez-500x500.jpg" target="_blank" class="image-link">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/blanca-paloma-sanchez-500x500.jpg" alt="Top view of at least 3 plants with flat leaves with rounded sides and pointy tips arranged radially.">
    </a>

    <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/erol-ahmed-500x500.jpg" target="_blank" class="image-link">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/erol-ahmed-500x500.jpg" alt="Close-up top view of a single plant with flat leaves with rounded sides and pointy tips, showing small serrations along the leaf margins.">
    </a>

    <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/armando-castillejo-500x500.jpg" target="_blank" class="image-link">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/armando-castillejo-500x500.jpg" alt="Close-up top view of a single plant with flat leaves with rounded sides and pointy tips, showing more pronounced serrations along the leaf margins.">
    </a>

    <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/calle-macarone-500x500.jpg" target="_blank" class="image-link">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3609497/calle-macarone-500x500.jpg" alt="Close up of a plant showing a group of separate clusters of buds.">
    </a>
  </div>
</div>
  </div>
  <div class="product_detail_content">

  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

    /*********************
      Thumbnails Slider
    *********************/

    const thumbnailSlider = document.querySelector(".thumbnails-slider");
    const mainSlider = document.querySelector(".main-image-slider");

    // Slick init equivalent
    thumbnailSlider.addEventListener("init", (e) => {

        const buttons = document.querySelectorAll(".thumbnail-button");

        buttons.forEach((button) => {

            button.addEventListener("click", () => {

                // Remove current active thumbnail
                buttons.forEach(btn => {
                    btn.removeAttribute("aria-current");
                });

                // Add current thumbnail
                button.setAttribute("aria-current", "true");

                // Get slide index
                const slide = button.closest(".slick-slide");
                const index = slide.dataset.slickIndex;

                // Move main slider
                $('.main-image-slider').slick('slickGoTo', index);

            });

        });

    });


    /*********************
      Main Slider Change
    *********************/

    mainSlider.addEventListener("beforeChange", (e) => {

        const nextSlide = e.detail.nextSlide;

        const currentThumbnail = document.querySelector(
            '.thumbnails-slider .thumbnail-button[aria-current="true"]'
        );

        if (currentThumbnail) {
            currentThumbnail.removeAttribute("aria-current");
        }

        // Move thumbnail slider
        $('.thumbnails-slider').slick('slickGoTo', nextSlide);

        const nextThumbnail = document.querySelector(
            `.thumbnails-slider .thumbnail-button:nth-of-type(${nextSlide + 1})`
        );

        if (nextThumbnail) {
            nextThumbnail.setAttribute("aria-current", "true");
        }

    });

});
</script>