{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
<style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    body {
      background: #000;
      color: #000;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

   


    .twisted_mySwiper .swiper-slide {
    
      opacity: 0.4;
    }

    .twisted_mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

</style>
{% endblock style %}
{% block  content %}
<div class="flex">

   <div thumbsSlider="" class="swiper twisted_mySwiper bg-red-500">
    <div class="swiper-wrapper flex flex-col gap-y-[1rem]">
      {% for img in images %}
      <div class="swiper-slide">
        <img src="{{img.product_image.url}}" />
      </div>
      {% endfor %}
    </div>

  </div>

  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper twisted_mySwiper2">

    <div class="swiper-wrapper">
      {% for img in images %}
      <div class="swiper-slide">
        <img src="{{img.product_image.url}}" />
      </div>
     {% endfor %}
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

</div>

{% endblock %}

 
  <!-- Initialize Swiper -->

{% block script %}
  <script>
    var swiper = new Swiper(".twisted_mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".twisted_mySwiper2", {
      loop: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>

{% endblock %}