{% extends 'base.html' %}

{% block content %}

   <div class="hero_banner">

    <!-- SKELETON (initially visible) -->
    <div id="skeleton-wrapper">
        {% include 'skeleton/banner_skeleton.html' %}
        {% include 'skeleton/card_skeleton.html' %}
    </div>

    <!-- REAL CONTENT (initially hidden) -->
    <div id="real-content" class="hidden">
        {% include 'include/banner.html' %}
        {% include 'include/card.html' %}
    </div>

</div>


{% endblock content %} 

{% block script %}

 <!-- wishlist axios start here -->
<Script>

    function getCookie(name) {
    let cookieValue = null;

    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");

        for (let cookie of cookies) {
            cookie = cookie.trim();

            if (cookie.startsWith(name + "=")) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }

    return cookieValue;
}

const csrftoken = getCookie("csrftoken");

    async function whishlist(id, element) {

    const wishlistCountElement = document.querySelector("#wishlist_count");

    try {
        const res = await axios.post(
            `/wishlist/toggle/${id}/`,
            {},
            {
                headers: {
                    "X-CSRFToken": csrftoken
                }
            }
        );

        wishlistCountElement.innerHTML = res.data.wishlist_count;

        if (res.data.status === "added") {
            element.classList.remove("bg-black/60");
            element.classList.add("bg-[#c49b66]");
        } else {
            element.classList.remove("bg-[#c49b66]");
            element.classList.add("bg-black/60");
        }

    } catch (error) {
        console.log(error.response);
    }
}

// Skeleton -> Real content swap
window.addEventListener("load", function () {
    document.querySelector("#skeleton-wrapper").classList.add("hidden");
    document.querySelector("#real-content").classList.remove("hidden");
});
</Script>
    <!-- wishlist axios end here  -->
{% endblock %}