<div class="max-w-5xl mx-auto mt-[1.5rem] px-4 md:px-8 hidden " id="addressform">

    <!-- Main Box -->

    <div class="bg-white border rounded-sm">

        <div class="p-5 border-b">

            <h2 class="font-semibold text-xl">
                Manage Addresses
            </h2>

        </div>

        <!-- Form -->

        <div class="p-5">

            <h3 class="text-blue-600 font-semibold text-sm mb-5">
                ADD A NEW ADDRESS
            </h3>

            <!-- Current Location -->

            <button class="bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2 rounded mb-6">

                <i class="fa-solid fa-location-crosshairs mr-2"></i>

                Use my current location

            </button>

            <form action="{% url 'address' %}" method="POST" id="updateform">
                {% csrf_token %}
                <!-- Name & Mobile -->

                <div class="grid md:grid-cols-2 gap-4">

                    <input type="text" placeholder="Name" class="border p-3 rounded outline-none focus:border-blue-500"
                        name="name" id="name_input" value="{{form.name.value|default:''}}">

                    <input type="text" placeholder="10-digit mobile number"
                        class="border p-3 rounded outline-none focus:border-blue-500" name="mobile" id="mobile_input"
                        value="{{form.mobile.value|default:''}}">

                </div>

                <!-- Pincode & Locality -->

                <div class="grid md:grid-cols-2 gap-4 mt-4">

                    <input type="text" placeholder="Pincode"
                        class="border p-3 rounded outline-none focus:border-blue-500" name="pincode" id="pincode_input"
                        value="{{form.pincode.value|default:''}}">

                    <input type="text" placeholder="Locality"
                        class="border p-3 rounded outline-none focus:border-blue-500" name="locality" id="locality_input"
                        value="{{form.locality.value|default:''}}">

                </div>

                <!-- Address -->

                <div class="mt-4">

                    <textarea rows="4" placeholder="Address (Area and Street)"
                        class="w-full border p-3 rounded resize-none outline-none focus:border-blue-500"
                        name="address" id="address_input">{{form.address.value|default:""}}</textarea>

                </div>

                <!-- City & State -->

                <div class="grid md:grid-cols-2 gap-4 mt-4">

                    <input type="text" placeholder="City / District / Town"
                        class="border p-3 rounded outline-none focus:border-blue-500" name="city"
                        value="{{form.city.value|default:''}}" id="city_input">

                    <select class="border p-3 rounded outline-none focus:border-blue-500" name="state" id="state_input">

                        <!-- {{ form.state }} -->

                        {% for value, label in form.state.field.choices %}
                        <option value="{{ value }}" {% if form.state.value == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                        {% endfor %}

                    </select>
                </div>

                <!-- Landmark -->

                <div class="grid md:grid-cols-2 gap-4 mt-4">

                    <input type="text" placeholder="Landmark (Optional)"
                        class="border p-3 rounded outline-none focus:border-blue-500" name="landmark" id="landmark_input"
                        value="{{form.landmark.value|default:''}}">

                    <input type="text" placeholder="Alternate Phone (Optional)"
                        class="border p-3 rounded outline-none focus:border-blue-500" name="alternate_mobile" id="alternate_mobile"
                        value="{{form.alternate_mobile.value|default:''}}">

                </div>

                <!-- Address Type -->

                <div class="mt-6">

                    <p class="text-sm font-medium mb-3">
                        Address Type
                    </p>

                    <div class="flex gap-8">

                        <label class="flex items-center gap-2">

                            <input type="radio" name="address_type" value="home" 
                            {% if form.address_type.value == "home" %} checked id="address_type_input" {% endif %}

                            >

                            Home

                        </label>

                        <label class="flex items-center gap-2">

                            <input type="radio" name="address_type" value="work"
                            {% if form.address_type.value == 'work' %} checked id="address_type_input" {% endif %}
                            >

                            Work

                        </label>

                    </div>

                </div>

                <!-- Buttons -->

                <div class="flex flex-wrap items-center gap-5 mt-8">

                    <button type="submit"
                        class="bg-blue-600 hover:bg-blue-700 text-white px-10 py-3 rounded font-medium">

                        SAVE

                    </button>

                    <button type="button" class="text-blue-600 font-medium">

                        CANCEL

                    </button>

                </div>

            </form>

        </div>

    </div>


</div>