{% extends 'base.html' %}
{% load static %}

{% block globlestyle %}
 <style>
    *,*::before,*::after{
        border-color:rgba(211,211,211,1);
    }
    .active{
        background-color: rgba(59, 130, 246, 1);
        color:white;
    }
input:read-only {
  background-color: #f0f0f0;
  color: #666666;
  border: 1px solid #ccc;
}
 </style>
{% endblock globlestyle %}

{% block content %}

<div class="max-w-7xl mx-auto p-4">

    <div class="grid lg:grid-cols-4 gap-5 items-start">

        <!-- Sidebar -->
        <aside class="lg:col-span-1 sticky top-5 self-start">

            <div class="shadow-sm ">

                <!-- User -->
                <div class="bg-white flex items-center gap-3 p-3 border-b mb-[0.5rem]">

                    <div
                        class="w-12 h-12 rounded-full bg-yellow-400 flex items-center justify-center text-white font-bold">
                        S
                    </div>

                    <div>
                        <p class="text-sm text-gray-500">
                            Hello
                        </p>

                        <h3 class="font-semibold">
                            Sher Shah
                        </h3>
                    </div>

                </div>

                <!-- Menu -->

                <div class="p-3 bg-white">

                    

                    <div class="mb-4">

                      

                        <ul class="userprofile_list space-y-2">

                            <li
                                class="px-3 py-2 rounded text-[0.9rem] cursor-pointer active">
                                Profile Information
                            </li>

                            <li
                                class="px-3 py-2 rounded cursor-pointer text-[0.9rem]">
                                Manage Addresses
                            </li>

                            <li
                                class="px-3 py-2 hover:bg-gray-100 rounded cursor-pointer text-[0.9rem]">
                                   My Orders
                            </li>

                            <li class="px-3 py-2  rounded text-[0.9rem] cursor-pointer">
                                My Reviews & Ratings
                            </li>
                            
                              <li class="px-3 py-2  rounded text-[0.9rem] cursor-pointer">
                                My Wishlist
                            </li>
                             <li class="px-3 py-2  rounded text-[0.9rem] cursor-pointer">
                                Logout
                            </li>
                        </ul>

                    </div>
                     
                     
                </div>

            </div>

        </aside>

        <!-- Main Content -->

        <main class="lg:col-span-3">

            <div class="profile_content_section bg-white border shadow-sm p-6">
              
                <div class="personal_information_section">
                     <!-- Personal Info -->

                    <form action="{% url 'userprofile' %}" method="POST">
                        {% csrf_token %}
                            <div class="mb-8">
                                <div
                                    class="flex items-center gap-4 mb-5">

                                    <h2
                                        class="text-xl font-semibold">
                                        Personal Information
                                    </h2>

                                    <button
                                        type="button"
                                        class="text-blue-600 text-sm cursor-pointer" id="editable">
                                        Edit
                                    </button>

                                </div>
                        
                                <div
                                    class="flex flex-col lg:flex-row gap-x-4 gap-y-4">

                                    <input
                                        type="text"
                                        placeholder="First Name"
                                        class="border p-3 rounded outline-none focus:border-blue-500 w-full md:w-80 cursor-not-allowed editable_inputs"
                                        name="first_name"
                                        value="{{form.first_name.value|default:''}}"
                                        disabled
                                        
                                        >

                                    <input
                                        type="text"
                                        placeholder="Last Name"
                                        class="border p-3 rounded outline-none focus:border-blue-500 w-full md:w-80 cursor-not-allowed editable_inputs"
                                        name="last_name"
                                        value="{{form.last_name.value|default:''}}"
                                        disabled
                                        >

                                </div>

                                <div class="mt-5">

                                    <p
                                        class="font-medium mb-3">
                                        Your Gender
                                    </p>

                                    <div class="flex gap-6">

                                        <label class="flex items-center gap-2">
                                            <input type="radio" name="gender"
                                            value="male" 
                                            class="cursor-not-allowed editable_inputs"
                                            disabled
                                            {% if form.gender.value == "male" %} checked {% endif %}
                                            >
                                            Male
                                        </label>

                                        <label class="flex items-center gap-2">
                                            <input type="radio" name="gender" value="female" disabled class="cursor-not-allowed editable_inputs"
                                            {% if form.gender.value == "female" %} checked {% endif %}
                                            >
                                            Female
                                        </label>

                                    </div>

                                </div>

                            </div>

                        <!-- Email -->
                            <div class="flex flex-col lg:flex-row gap-x-4">
                                    <div class="mb-8">

                                        <div
                                            class="flex items-center gap-4 mb-4">

                                            <h3
                                                class="text-lg font-semibold">
                                                Email Address
                                            </h3>

                                        </div>

                                        <input
                                            type="email"
                                            placeholder="Enter Email"
                                            class="border p-3 rounded w-full md:w-80 cursor-not-allowed editable_inputs"
                                            name="email"
                                            value ="{{form.email.value|default:''}}"
                                            disabled
                                            
                                            >

                                    </div>

                                    <!-- Mobile -->

                                    <div class="mb-8">

                                        <div
                                            class="flex items-center gap-4 mb-4">

                                            <h2
                                                class="text-lg font-semibold">
                                                Mobile Number
                                            </h2>

                                            <!-- <button
                                                class="text-blue-600 text-sm cursor-pointer">
                                                Edit
                                            </button> -->

                                        </div>

                                        <input
                                            type="text"
                                            placeholder="+91 9876543210"
                                            class="border p-3 rounded w-full md:w-80 cursor-not-allowed editable_inputs"
                                            name="mobile"
                                            value="{{form.mobile.value|default:''}}"
                                            disabled
                                            >

                                    </div>
                            </div>
                        <!-- submit button start here -->
                         <button type="submit" class="bg-blue-500 !text-white font-semibold px-4 py-2 rounded-lg mb-[0.5rem] cursor-pointer ">Submit</button>
                        <!--  submit button end here  -->
                    </form>
                  
                    <!-- FAQ -->

                        <div>

                            <h2
                                class="text-xl font-semibold mb-5">
                                FAQs
                            </h2>

                            <div
                                class="space-y-6 text-gray-600 text-sm leading-7">

                                <div>
                                    <h3
                                        class="font-semibold text-gray-800 mb-2">
                                        What happens when I update my email address?
                                    </h3>

                                    <p>
                                        Your login email ID changes immediately.
                                    </p>
                                </div>

                                <div>
                                    <h3
                                        class="font-semibold text-gray-800 mb-2">
                                        Can I update my mobile number?
                                    </h3>

                                    <p>
                                        Yes, you can update your mobile number anytime.
                                    </p>
                                </div>

                            </div>

                        </div>

                </div>
                
                <div class="address_add_section hidden">
                    {% include 'accounts/address_add.html' with form=addr_form %}
                </div>
                  <div class="my_orders_section hidden">
                    {% include 'orders/myorders.html' with form=addr_form %}
                    {% include 'orders/orderdetail.html' with  form=addr_form %}
                </div>
                <div class="review_rating_section hidden">
                  {% include 'accounts/review_rating.html' %}
                </div>
                 
                <div class="whislist_section hidden">
                    {% include 'wishlist.html' %}
                </div>
                 
            </div>

        </main>

    </div>

</div>





{% endblock content %}

{% block script %}
<script>

    const add_new_address = document.querySelector("#add_new_address");
    const address_form = document.querySelector("#addressform");
    const hide_heading = document.querySelector("#hide_heading")
    const userProfileList = document.querySelector(".userprofile_list")
    const profileContentSection = document.querySelector('.profile_content_section');

    // addressData variables
    const addressName = document.querySelector("#address_name");
    const addressMobile = document.querySelector("#address_mobile");
    const addressAddress = document.querySelector("#address_address");
    const addressPincode = document.querySelector("#address_pincode");
    const addressType = document.querySelector("#addressType")
    
    // address_form variables
    

    add_new_address.onclick  = () =>{
      add_new_address.style.display="none"
      address_form.style.display = "block"
      hide_heading.style.display="none"
    }

 
    userProfileList.addEventListener('click',(event)=>{
      if(event.target.tagName==="LI"){
        activeLink = document.querySelector(".active");
        if(activeLink){
            activeLink.classList.remove("active")
        }
        event.target.classList.add('active')
        
        const index  = [...userProfileList.children].indexOf(event.target)
        const profile_child = [...profileContentSection.children]
        console.log("profile_child==>",profile_child)
        profile_child.forEach((item)=>{
            item.style.display = "none"
        })
       profile_child[index].style.display="block"
      }
    })

    // userprofile codes editable codes start here 
       const editable_btn = document.querySelector("#editable");
       const editableInputs = document.querySelectorAll(".editable_inputs")
       editable_btn.onclick =() =>{
        editableInputs.forEach((item)=>{
            item.classList.replace('cursor-not-allowed','cursor-pointer')
            item.disabled = false;
        })
        console.log("hello world");

       }
       
    // userprofile codes editable codes end  here
   
    // address_form codes editable codes start 
    
       const nameInput = document.querySelector("#name_input");
       const mobileInput = document.querySelector("#mobile_input");
       const pincodeInput = document.querySelector("#pincode_input");
       const localityInput =  document.querySelector("#locality_input");
       const addressInput = document.querySelector("#address_input");
       const cityInput = document.querySelector("#city_input");
       const stateInput = document.querySelector("#state_input");
       const landmarkInput = document.querySelector("#landmark_input");
       const alternateMobile = document.querySelector("#alternate_mobile");
      
       
       let user_id = null
 
   async function fetchData (event,id){
        event.preventDefault()
        user_id = id;
        console.log(user_id)
        try{
            const res = await axios.get(`/accounts/address/${id}/`)

            nameInput.value=res.data.name;
            mobileInput.value=res.data.mobile;
            pincodeInput.value=res.data.pincode;
            localityInput.value=res.data.locality;
            addressInput.value=res.data.address;
            cityInput.value=res.data.city;
            stateInput.value=res.data.state;
            landmarkInput.value=res.data.landmark;
            alternateMobile.value=res.data.alternate_mobile;
            
            if(res.data.address_type == "home"){
                document.querySelector('input[value="home"]').checked=true;
            }else{
                document.querySelector('input[value="work"]').checked=true;
            }
            add_new_address.style.display = "none";
            address_form.style.display = "block";
            hide_heading.style.display = "none";
        }catch(error){
            console.log(error);
        }

      
       }
      


const updateForm = document.querySelector("#updateform");

const csrftoken = document.querySelector(
    '[name=csrfmiddlewaretoken]'
).value;

updateForm.addEventListener("submit", async (event) => {

    console.log("FORM SUBMITTED");
    console.log("user_id =", user_id);

    // CREATE MODE
    if (!user_id) {
        console.log("CREATE MODE");
        return; // normal form submit hone do
    }

    // UPDATE MODE
    event.preventDefault();

    console.log("UPDATE MODE");

    const selectedType = document.querySelector(
        'input[name="address_type"]:checked'
    );

    const payload = {
        name: nameInput.value,
        mobile: mobileInput.value,
        pincode: pincodeInput.value,
        locality: localityInput.value,
        address: addressInput.value,
        city: cityInput.value,
        state: stateInput.value,
        landmark: landmarkInput.value,
        alternate_mobile: alternateMobile.value,
        address_type: selectedType.value,
    };

    try {

        const res = await axios.post(
            `/accounts/address/${user_id}/`,
            payload,
            {
                headers: {
                    "X-CSRFToken": csrftoken,
                },
            }
        );

        console.log("res.data==>",res.data);

        if (res.data.success) {

            // form hide
            address_form.style.display = "none";

            // add address button show
            add_new_address.style.display = "block";

            // heading show
            hide_heading.style.display = "block";
            
            // address message show
            Swal.fire({
                title:res.data.message,
                icon: "success",
                timer: 1000,
                showConfirmButton: false
                });

            await addressData()
            // edit mode reset
            user_id = null;
            updateForm.reset()
            // alert("Address Updated Successfully");

        }

    } catch (error) {

        console.log("ERROR =", error);
        console.log("RESPONSE =", error.response);
        console.log("DATA =", error.response?.data);
        console.log("STATUS =", error.response?.status);

    }
});
    // address_form codes editable codes end here 

    // list update through axios
    // console.log("addressName=>",addressName);
    // console.log("addressMobile=>",addressMobile);
    // console.log("addressAddress=>",addressAddress);
    // console.log("addressPincode=>",addressPincode);
    // console.log("addressType=>",addressType);

    const addressData = async () =>{
        const addressName=document.querySelector(`#address_name_${user_id}`);
        const addressMobile=document.querySelector(`#address_mobile_${user_id}`);
        const addressAdress=document.querySelector(`#address_address_${user_id}`);
        const addressPincode=document.querySelector(`#address_pincode_${user_id}`);
        const addressType=document.querySelector(`#addressType_${user_id}`);

        try{
            const res =  await axios.get(`/accounts/address/${user_id}/`)
            const data = res.data
            console.log("data==>",typeof(data));
             
            addressName.textContent=data.name;
            addressMobile.textContent=data.mobile;
            addressAddress.textContent=data.address;
            addressPincode.textContent=data.pincode;
            addressType.textContent=data.addressType;
            
           

        }catch(error){
            console.log(error.message);
            
        }
    }

    // delete data from the database

    async function deleteData (id){
       const payload={}
       const addressCard = document.querySelector(`#address_card_${id}`)
        try{
           const res = await axios.post(`/accounts/address/delete/${id}/`,payload,{headers:{"X-CSRFToken":csrftoken}})
           console.log("res.data==>",res.data);
           if(res.data.success){
            addressCard.style.display="none";
            Swal.fire({
                title:res.data.message,
                icon: "success",
                timer: 1000,
                showConfirmButton: false
                });
           }
        }catch(error){
            console.log(error.message);
            
        }
    }

// cancel form start here
const cacelFunction = () =>{
    address_form.style.display='none';
    hide_heading.style.display="block";
    add_new_address.style.display="block";
}
// cancel form end here 

// order detail codes start here
const myOrders = document.querySelector(".myorders");
const orderdetails = document.querySelector(".orderdetails");
const orderDetailHandler = () =>{
 myOrders.style.display  = "none";
 orderdetails.style.display = "block";
}
const backToHandler = ()  =>{
    orderdetails.style.display  ="none";
    myOrders.style.display ="block";
}
// order detail codes end here 


// cancel order start here
const  cancelHandler = async (orderId) =>{
    payload={
        "order_id":orderId
    }
    try{
      const  res = await axios.post(`orders/cancelorder/`,payload,{
        headers:{
            "X-CSRFToken":csrftoken
        }})
       const data = res.data
       console.log(data)

    }catch(error){
        console.log(error)
    }
}
// cancel order end here 
</script>

{% endblock script %}