 {% load static %}

<div class="min-h-[70vh] flex items-center justify-center px-4">

    <div class="text-center">

        <!-- Illustration -->

        <div class="relative w-48 h-24 mx-auto">
            <img src="{% static 'default_whislist_img/mywishlist-empty.png' %}" alt="myReivewsEmpty">
        </div>

        <!-- Content -->

        <h2
            class="mt-8 text-xl font-semibold text-gray-800">
            No Reviews & Ratings
        </h2>

        <p
            class="mt-3 text-gray-500 text-sm md:text-base">
            You have not rated or reviewed any product yet!
        </p>

    </div>

</div>


<div class="max-w-5xl mx-auto p-3">

    <!-- Wishlist Container -->

    <div class="bg-white border">

        <!-- Header -->

        <div class="border-b p-4">

            <h2 class="text-lg font-semibold">
                My Wishlist (1)
            </h2>

        </div>

        <!-- Wishlist Item -->

        <div
            class="p-3 flex flex-col sm:flex-row sm:items-start gap-5 relative">

            <!-- Product Image -->

            <div class="flex-shrink-0">

                <img
                    src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?w=400"
                    alt="shoe"
                    class="w-20 h-20 object-cover">

            </div>

            <!-- Product Details -->

            <div class="flex-1">
              <div class="flex justify-between">
                <h3
                    class="text-sm md:text-lg font-medium text-gray-800">

                    World Wear Footwear Running Shoes For Men

                </h3>
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
                    fill="currentColor" viewBox="0 0 24 24" >
                    <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
                    <path d="M17 6V4c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H2v2h2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8h2V6zM9 4h6v2H9zM6 20V8h12v12z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
                </svg>
              </div>
                

                <div
                    class="flex flex-wrap items-center gap-3 mt-3">

                    <span
                        class="text-lg font-semibold text-black">

                        ₹170

                    </span>

                    <span
                        class="line-through text-gray-400">

                        ₹995

                    </span>

                    <span
                        class="text-green-600 font-semibold">

                        82% off

                    </span>

                </div>

            </div>

            <!-- Delete Icon -->

            <button
                class="absolute top-5 right-5 text-gray-400 hover:text-red-500 transition">

                <i class="fa-solid fa-trash"></i>

            </button>

        </div>

    </div>

</div>
